# Dependencias de Node.js (¡El más importante!)
node_modules/

# Archivos de log de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno (buena práctica tenerlo listo por si luego usamos contraseñas o claves)
.env
.env.local

# Archivos ocultos del sistema operativo (Windows y macOS)
Thumbs.db
desktop.ini
.DS_Store

# Configuración local del editor VS Code (opcional, pero recomendado)
.vscode/